<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>登录</title>
  <link href="/static/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{url_for('static', filename='components/metisMenu/metisMenu.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='components/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          {% if error_tip %}
            <div class="alert alert-warning alert-dismissable">
              {{ error_tip }}
            </div>
          {% endif %}
          <form role="form" action="/login" method="post">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="username" name="username" type="text" autofocus>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="password" name="password" type="password" value="">
              </div>
              <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='components/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='components/metisMenu/metisMenu.min.js')}}"></script>
<script src="{{url_for('static', filename='js/sb-admin-2.js')}}"></script>

</body>

</html>
